@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
html{
    overflow: hidden;
    scroll-behavior: smooth;
}



.main{
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    touch-action: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
}

.btn{
    font-size: 30px;
    background-color: green;
    color: white;
    border: none;
    padding: 15px;
    font-family: 'Secular One', sans-serif;
    transition: .3s;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: green;
}
.main__img{
    width: 800px;
    height: 600px;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s;
}
.main__img:hover{
    filter: brightness(70%);
}

.main__img::after {
    content: 'Check recipe';
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .main__img:hover::after {
    display: block;
  }
.text{
    color: black;
    font-size: 40px;
    font-family: 'Alkatra', cursive;
}
.text-first{
    color:black;
    font-size: 40px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Chivo Mono', monospace;
}

.icon{
    font-size: 40px;
    position: absolute;
    bottom: 10px;
    animation: icon infinite ease-in-out 1s;
}

.icon:hover{
    cursor: pointer;
}
.icon-up:hover{
    cursor: pointer;
}
.icon-up{
    font-size: 40px;
    position: absolute;
    top: 20px;
    animation: icon infinite ease-in-out 1s;
}

@keyframes icon{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-40%);
    }
    100%{
        transform: translateY(0%);
    }
}
